{% extends 'layout.html' %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}


{% block content %}
{% if errorMessage %}
  {{ govukErrorSummary({
    titleText: "There is a problem",
    errorList: [
      {
        text: errorMessage.text,
        href: "#userReference"
      }
    ]
  }) }}
  {% endif %}

  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
   <h1 class="govuk-heading-xl">{{title}}</h1>
  <div class="govuk-body">
      
    <form method="POST" action="/userRef">
      {{ govukInput({
        label: {
          text: "Your Reference(optional)"
        },
        value: inputValue,
        classes: "govuk-!-width-two-thirds",
        hint: {
          text: "Enter a reference to help you identify this catch certificate within the service. This reference is for your own use and will not appear on the final certificate. For example, you could choose a reference number from your organisation.",
          classes: "govuk-!-width-two-thirds"
        },
        id: "userReference",
        name: "userReference",
        errorMessage: errorMessage
      }) }}


        {{ govukButton({
          text: "Save as Draft",
          classes: "govuk-button--secondary"
        }) }}
        
        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
  </div>

  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Dates and amounts</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date</th>
        <th scope="col" class="govuk-table__header">Amount</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">First 6 weeks</th>
        <td class="govuk-table__cell">£109.80 per week</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Next 33 weeks</th>
        <td class="govuk-table__cell">£109.80 per week</td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">Total estimated pay</th>
        <td class="govuk-table__cell">
          <strong class="govuk-tag">
            completed
          </strong>
        </td>
      </tr>
    </tbody>
  </table>
  
  {% include "needHelp.html" %}

{% endblock %}