{% extends "govuk/template.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{% block head %}
  <!--[if !IE 8]><!-->
    <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />
  <!--<![endif]-->

  {# For Internet Explorer 8, you need to compile specific stylesheet #}
  {# see https://github.com/alphagov/govuk-frontend/blob/master/docs/installation/supporting-internet-explorer-8.md #}
  <!--[if IE 8]>
    <link href="{{ assetPath }}/govuk-frontend/all-ie8.css" rel="stylesheet" />
  <![endif]-->

  {# For older browsers to allow them to recognise HTML5 elements such as `<header>` #}
  <!--[if lt IE 9]>
    <script src="/html5-shiv/html5shiv.js"></script>
  <![endif]-->
{% endblock %}

{% block header %}

{% include "cookieBanner.html" %}

  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "#",
    navigation: [
    {
      href: "#1",
      text: "Home",
      active: true
    },
    {
      href: "#2",
      text: "Favourites"
    },
    {
      href: "#3",
      text: "Manage Account"
    },
    {
      href: "#4",
      text: "Sign out"
    }
  ]
  }) }}
  {{ govukPhaseBanner({
    tag: {
      text: "beta"
    },
    classes: "govuk-width-container",

    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {{
    hmrcLanguageSelect({
      language: 'en',
      en: {
        href: '?en'
      },
      cy: {
        href: '?cy'
      }
    })
  }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script src="{{ assetPath }}/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}